torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
transformers==4.51.3
gradio==4.44.0
qwen-vl-utils
pymupdf
pillow
accelerate
huggingface_hub
flash-attn==2.8.0.post2
gradio_image_annotation
openai
modelscope
